body{
    margin: 0;
    padding: 0;
    letter-spacing: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    background-color: #333;
}
.container{
    width: 70%;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 10px;
    margin: auto;
    padding:20px ;
    background-color: white;
}
.titulo{
    text-align: center;
    background-color: seagreen;
    color: white;
    padding: 5px;
}
.contenido{
    padding: 15px 0px;
}
.texto{
    color: rgb(43, 43, 44);
    letter-spacing: 0.5px;
    text-align: justify;
}
.imagen{
    text-align: center;
}
.imagen{
    text-align: center;
<<<<<<< HEAD
    margin: 25px 0px;
}
    .menu{
    background-color:#026b85;
    border-radius: 0px 0px 12px 12px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 30px;
    margin: 0px;
    font-size: 15px;
    color: white;
}
.suscribete{
    background-color: #2e8b57;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.suscribete input{
    border: 0px;
    height: 20px;
    width: 300px;
}
.suscribete button{
    border: 0px;
    height: 22px;
    color: white;
    background-color: teal;
}
.informacion{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
}
.informacion div ul{
    list-style: none;
    padding: 0px;

}
.informacion div{
    margin-right: 30px;
}

